<h1><%= @clinic.clinic_name %></h1>
<div class="page_subtitle"><%= @clinic.city %>, <%= @clinic.state %></div>


<h2>Ranking Information</h2>
<div id='tabs'>
	
	<ul class="ranking_tabs">
		<li><a href='#rankingtabs_1'>Overall</a></li>
		<li><a href='#rankingtabs_2'><35</a></li>
		<li><a href='#rankingtabs_3'>35-37</a></li>
		<li><a href='#rankingtabs_4'>38-40</a></li>
		<li><a href='#rankingtabs_5'>41-42</a></li>
		<li><a href='#rankingtabs_6'>>42</a></li>
	</ul>
	
	<div id='rankingtabs_1' class="tab_content">
		<table class="score_table">
			<% if(@scores_all_ages.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_all_ages[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_all_ages[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_all_ages[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_all_ages[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_all_ages[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_all_ages[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_all_ages[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_all_ages[0].sart_score) %>'>★</span></td></tr>			
			<% end %>
		</table>
	</div>
	<div id='rankingtabs_2' class="tab_content">
		<table class="score_table">
			<% if(@scores_35.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_35[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_35[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_35[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_35[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35[0].sart_score) %>'>★</span></td></tr>			
			<% end %>
		</table>
	</div>
	<div id='rankingtabs_3' class="tab_content">
		<table class="score_table">	
			<% if(@scores_35_37.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_35_37[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35_37[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_35_37[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35_37[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_35_37[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35_37[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_35_37[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_35_37[0].sart_score) %>'>★</span></td></tr>
			<% end %>
		</table>
	</div>	
	<div id='rankingtabs_4' class="tab_content">
		<table class="score_table">	
			<% if(@scores_38_40.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_38_40[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_38_40[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_38_40[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_38_40[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_38_40[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_38_40[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_38_40[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_38_40[0].sart_score) %>'>★</span></td></tr>			
			<% end %>
		</table>
	</div>
	<div id='rankingtabs_5' class="tab_content">
		<table class="score_table">
			<% if(@scores_41_42.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_41_42[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_41_42[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_41_42[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_41_42[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_41_42[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_41_42[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_41_42[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_41_42[0].sart_score) %>'>★</span></td></tr>			
			<% end %>
		</table>
	</div>
	<div id='rankingtabs_6' class="tab_content">
		<table class="score_table">
			<% if(@scores_42.empty?) %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result">No Ranking Data <span class='icon score_icon <%= print_score_color(0.0) %>'>★</span></td></tr>
			<% else %>
				<tr><td class="score_label ivfr_score">IVF Reports Score</td><td class="score_result"><%= number_with_precision(@scores_42[0].ivf_reports_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_42[0].ivf_reports_score) %>'>★</span></td></tr>
				<tr><td class="score_label quality_score">Quality Score</td><td class="score_result"><%= number_with_precision(@scores_42[0].quality_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_42[0].quality_score) %>'>★</span></td></tr>
				<tr><td class="score_label safety_score">Safety Score</td><td class="score_result"><%= number_with_precision(@scores_42[0].safety_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_42[0].safety_score) %>'>★</span></td></tr>
				<tr><td class="score_label sart_score">SART Score</td><td class="score_result"><%= number_with_precision(@scores_42[0].sart_score, :precision => 2, :separator => '.') %> <span class='icon score_icon <%= print_score_color(@scores_42[0].sart_score) %>'>★</span></td></tr>			
			<% end %>
		</table>
	</div>
	
</div>


<h2>Detailed Clinic Information</h2>

<ul id="clinic_info" class="infobox_choices">
<li id="description" class="selected">Description</li>
<li id="statistics">Statistics</li>
<li id="reviews">Reviews</li>
<li id="contact">Contact</li>
</ul>

<div id="clinic_info_box" class="infobox_content">

	<div id="description_box" class="infobox">
		<h3>Clinic Description</h3>
		<p><%= @clinic.info %><p>
	</div>

	<div id="statistics_box" class="infobox hidden">
		<h3>Clinic Statistics</h3>
		<div id="stat_graph">
			<div id="stat_debug">
			
			</div>	
			<h4 style="text-align:center;">Implantation Rate vs. National Average</h4>
			<canvas id="stat_canvas" width="410" height="300">[No canvas support]</canvas>
			<div class="legend">Solid Bars Show Clinic Performance. Line Shows National Average.</div>
			<hr>
			<% if signed_in? %>
			<% if admin_or_insurance_user %>
				<h4 style="text-align:center;">Patient Diversity</h4>
				<canvas id="rose_canvas" width="410" height="300">[No canvas support]</canvas>
				<ul id="select-age">
					<li class="ui-selected"><35</li>
					<li>35-37</li>
					<li>38-40</li>
					<li>41-42</li>
					<li>>42</li>
				</ul>
				<div class="legend">Graph shows the number of cycles performed for various diagnostic groups by this clinic.<br/>Click a wedge to learn more.</div>
			<% end %>	
			<% end %>
		</div>	
	</div>
	
	<div id="reviews_box" class="infobox hidden">
		<h3>Clinic Reviews</h3>
		<% if @reviews.empty? %>
			<p>This clinic does not currently have any reviews. Be the first!</p>
		<% else %>
			<% @reviews.each do |r| %>
			<p></p>
			<% end %>
		<% end %>
	</div>

	<div id="contact_box" class="infobox hidden">
		<h3>Clinic Contact Information</h3>
		<hr>
			<h4>Address</h4>
			<p><%= @clinic.address %><br/>
			<%= @clinic.city %>, <%= @clinic.state %></p>
		<hr>
			<h4>Staff</h4>
			<p><b>Practice Director: </b><%= @clinic.practice_director %><br/>
			<b>Medical Director: </b><%= @clinic.medical_director %><br/>
			<b>Laboratory Director: </b><%= @clinic.laboratory_director %></p>
		<hr>
			<h4>Contact Info</h4>
			<p><b>Phone: </b><%= @clinic.phone %><br/>
			<b>Website: </b>
			<% if @clinic.website=="N/A" %><br/>
			N/A
			<% else %>
			<a href="<%= @clinic.website %>" target="_blank"/><%= @clinic.website %></a><br/>
			<% end %>
			<b>Email: </b><%= @clinic.email %></p>
	</div>

</div>
	
	<script type="text/javascript">
	var global_age_group = '<35';
	
	function LoadInitialStatsGraph(){
		var data = {
			year: 2010,
			statistic: 'cycles',
			cycle_type: 'fresh',
			clinic_id: <%= @clinic.id %>,
			diagnosis: 'All Diagnoses'
		}
		$.ajax({
			url: "<%= url_for(:action => 'pull_clinic_data') %>",
			dataType: 'json',
			async: true,
			data: data,
			success: 	function(data){
							var age_groups = ['<35', '35-37', '38-40', '41-42', '>42'];
							
							//This is the array data for the graph
							var graph_data = [];
							var cycle_data = [];
							var imp_data = [];
							var tooltips = [];
							
							var cur_age_index = 0;
							
							var y_max = 0;
							
							//Load the cycle data into the graph
							$.each(data, function(k){
								for(var i = 0; i < 5; i++){
									if(data[k]['age_group']==age_groups[i]){
										graph_data[i] = data[k]['implantation_rate'];
										cycle_data[i] = data[k]['cycles'];
										imp_data[i] = data[k]['implantation_rate'];
										if(data[k]['implantation_rate'] > y_max){
											y_max = data[k]['implantation_rate'];
										}
									}
								}
							});
							
							//Instantiate the new graph
							cycles_bar_graph = new RGraph.Bar('stat_canvas', graph_data);
							cycles_bar_graph.Set('chart.labels', age_groups);
					        cycles_bar_graph.Set('chart.gutter.left', 45);
					        cycles_bar_graph.Set('chart.background.barcolor1', 'white');
					        cycles_bar_graph.Set('chart.background.barcolor2', 'white');
					        cycles_bar_graph.Set('chart.background.grid', true);
					        cycles_bar_graph.Set('chart.colors', ['#7895A3']);
							cycles_bar_graph.Set('chart.variant', '3d');
							cycles_bar_graph.Set('chart.shadow', true);							
							cycles_bar_graph.Set('chart.shadow.blur', 5);
							cycles_bar_graph.Set('chart.shadow.offsetx', 2);
							cycles_bar_graph.Set('chart.shadow.offsety', 0);
							cycles_bar_graph.Set('chart.shadow.color', '#0F5151');
							cycles_bar_graph.Set('chart.text.font', 'Trebuchet MS');
							cycles_bar_graph.Set('chart.units.post', '%');
							

							
							//RGraph.Effects.Fade.In(cycles_bar_graph);
							//RGraph.Effects.Bar.Wave(cycles_bar_graph);
							
							//Render the national averages line
							var data = {
								year: 2010,
								statistic: 'cycles',
								cycle_type: 'fresh',
								clinic_id: '384',
								diagnosis: 'All Diagnoses'
							}
							$.ajax({
								url: "<%= url_for(:action => 'pull_clinic_data') %>",
								dataType: 'json',
								async: true,
								data: data,
								success: 	function(data){
									var graph_data2 = [];
									$.each(data, function(l){
										for(var i = 0; i < 5; i++){
											if(data[l]['age_group']==age_groups[i]){
												graph_data2[i] = data[l]['implantation_rate'];
												tooltips[i] = "<b>Age Group: "+ age_groups[i] +"</b><br/>";
												tooltips[i] = tooltips[i] + "Cycles: " + cycle_data[i] + "<br/>";
												tooltips[i] = tooltips[i] + "Imp Rate: " + Math.round(10*graph_data[i])/10 + "<br/>";
												tooltips[i] = tooltips[i] + "National Avg: " + Math.round(10*graph_data2[i])/10;
												if(data[l]['implantation_rate'] > y_max){
													y_max = data[l]['implantation_rate'];
												}
											}
										}
									});
									
									y_max = y_max + 5;
									if(y_max > 100.0){
										y_max = 100;
									}
							
									imprate_line_graph = new RGraph.Line('stat_canvas', graph_data2);
									imprate_line_graph.Set('chart.background.grid', false);
									imprate_line_graph.Set('chart.linewidth', 2);
									imprate_line_graph.Set('chart.colors', ['#0F5151']);
									imprate_line_graph.Set('chart.tickmarks', 'circle');
									imprate_line_graph.Set('chart.highlight.fill', 'black');
									imprate_line_graph.Set('chart.ylabels', false);																					
									cycles_bar_graph.Set('chart.ymax', y_max);
									imprate_line_graph.Set('chart.tooltips', tooltips);


									cycles_bar_graph.Set('chart.line', imprate_line_graph);
									cycles_bar_graph.Draw();
								}
							});
							
			}
		});
	}
	
	function LoadRoseChart(){
		//Clear the canvas first...
		var canvas_rose = document.getElementById('rose_canvas');
		var canvas_context_rose = canvas_rose.getContext('2d');
		canvas_context_rose.clearRect(0, 0, canvas_rose.width, canvas_rose.height);
		
		var data = {
			year: 2010,
			statistic: 'cycles',
			cycle_type: 'fresh',
			clinic_id: <%= @clinic.id %>,
			age_group: global_age_group
		}
		$.ajax({
			url: "<%= url_for(:action => 'pull_clinic_data') %>",
			dataType: 'json',
			async: true,
			data: data,
			success: 	function(data){
							var diagnoses = ['Endometriosis', 'Diminished Ovarian Reserve', 'Multiple Female Factors', 'Ovulatory Dysfunction', 'Tubal Factor', 'Female and Male Factors', 'Male Factor', 'Other Factor', 'Uterine Factor', 'Unknown Factor'];
							
							//This is the array data for the graph
							var graph_data = [];
							var tooltips = [];
							
							var ymax = 0;
							
							//Load the cycle data into the graph
							$.each(data, function(k){
								if(data[k]['diagnosis']=="All Diagnoses"){
									//Nothing
								}
								else if(k==0 && data[k]['diagnosis']=="All Diagnoses"){
									ymax = parseInt(data[k]['cycles']);
									var j = 1;
									ymax = parseInt(data[j]['cycles']);
								}	
								else if(k==0){
									ymax = parseInt(data[k]['cycles']);
									for(var i = 0; i < 10; i++){
										if(data[k]['diagnosis']==diagnoses[i]){
											graph_data[i] = parseInt(data[k]['cycles']);
											tooltips[i] = "<b>" + diagnoses[i] + "</b><br/>"
											tooltips[i] = tooltips[i] + "Cycles: " + parseInt(data[k]['cycles']) + "<br/>";
											tooltips[i] = tooltips[i] + "Implantation Rate: " + Math.round(10*data[k]['implantation_rate'])/10 + "<br/>";
											tooltips[i] = tooltips[i] + "Average Number of Embryos Transferred: " + parseInt(data[k]['avg_num_embs_transferred']);
										}
									}
								}
								
								else{
									ymax = Math.max(ymax, parseInt(data[k]['cycles']));
									for(var i = 0; i < 10; i++){
										if(data[k]['diagnosis']==diagnoses[i]){
											graph_data[i] = parseInt(data[k]['cycles']);
											tooltips[i] = "<b>" + diagnoses[i] + "</b><br/>"
											tooltips[i] = tooltips[i] + "Cycles: " + parseInt(data[k]['cycles']) + "<br/>";
											tooltips[i] = tooltips[i] + "Implantation Rate: " + Math.round(10*data[k]['implantation_rate'])/10 + "<br/>";
											tooltips[i] = tooltips[i] + "Average Number of Embryos Transferred: " + parseInt(data[k]['avg_num_embs_transferred']);
										}
									}
								}

								
							});
							//Change the labels so they fit:
							var diagnoses = ['Endometriosis', 'Diminished Ovarian Reserve', 'Multiple Female Factors', 'Ovulatory Dysfunction', '     Tubal Factor', 'Female + Male Factors', 'Male Factor', 'Other Factor', 'Uterine Factor', 'Unknown Factor'];
							
							
							//Instantiate the new graph
							var diagnoses_rose_chart = new RGraph.Rose('rose_canvas', graph_data);
							diagnoses_rose_chart.Set('chart.colors.alpha', 0.5);
							diagnoses_rose_chart.Set('chart.labels', diagnoses);
							diagnoses_rose_chart.Set('chart.ymax', ymax);
							diagnoses_rose_chart.Set('chart.text.size', 8);
							diagnoses_rose_chart.Set('chart.colors', ['#0F5151']);
							diagnoses_rose_chart.Set('chart.tooltips', tooltips);
							diagnoses_rose_chart.Set('chart.tooltips.effect', 'expand');

							
							//Render the graph
							RGraph.Effects.Fade.In(diagnoses_rose_chart);
							
			}
		});
	}
	
	</script>


<script type="text/javascript">


$(document).ready(function(){
	
	$( "#tabs" ).tabs();
	
	$('ul#clinic_info li').click(function(){
		$(this).siblings().removeClass('selected');
		$(this).addClass('selected');
		var click_choice = $(this).attr('id');
		
		var dividtoopen = "div#clinic_info_box div#"+click_choice+"_box";
		$(dividtoopen).siblings().addClass('hidden');
		$(dividtoopen).removeClass('hidden');
	});
	
	
	$('#select-age').selectable({
		stop: function(){
			$( ".ui-selected", this ).each(function() {
				var index = $( "#select-age li" ).index( this );
				if(index==0){
					global_age_group="<35";
				}
				else if(index==1){
					global_age_group="35-37";
				}
				else if(index==2){
					global_age_group="38-40";
				}
				else if(index==3){
					global_age_group="41-42";
				}
				else if(index==4){
					global_age_group=">42";
				}
				else{
					global_age_group="<35";
				}
			});
			LoadRoseChart();
		}
	});
	
	
	LoadInitialStatsGraph();
	LoadRoseChart();
});
</script>