<h1>Sign In</h1>
<div class="sign_in_form">

<%= form_for(:session, :url => sessions_path) do |f| %>
	<h3>Don't Have an Account? <%= link_to 'Register', register_path %> to join in!</h3>
	<div class="field">
		<%= f.label :email %>
		<%= f.text_field :email %>
	</div>
	<div class="field">
		<%= f.label :password %>
		<%= f.password_field :password %>
	</div>
	<div class="update_button">
		<%= f.submit "Sign in", :class => "styled-button green-gradient sign-in-button" %>
	</div>
<% end %>
</div>