<div class="profile_top">
	<div class="gravatar-and-name">
		<%= gravatar_for @user %>
		<div class="user_info">
			<h1>Account Settings</h1>
			<span class="user_subtitle"><a href="http://gravatar.com/emails" target="_blank">Change Image</a></span>
		</div>
	</div>


	<div class="edit-profile-link">
	<% if current_user?(@user) %>
		<%= link_to current_user, :class => "view-button" do %><span class="icon">u</span>View Your Profile<% end %>
	<% end %>
	</div>
</div>


<div id="tabs" class="edit_user_tabs">
	<ul id="edit-user-tabs" class="jqueryui-user-edit-tabs">
		<li class="edit_user_tab"><a href="#edit_user_1"/>Personal Information</a></li>
		<li class="edit_user_tab"><a href="#edit_user_2"/>Medical Information</a></li>
		<li class="edit_user_tab"><a href="#edit_user_3"/>Account Information</a></li>
	</ul>
	<div id='edit_user_1' class="edit_user_content">
	<h2 id="edit_user_personal_title" class="edit_user_title">Edit Personal Information</h2>
	<%= form_for @user, :as => :personal_info, :url => user_path(@user), :method => :put, :remote => true do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :name %></td>
				<td class="input" style="text-align:right;"><%= @user.name %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :gender %></td>
				<%
					if(@user.gender=="male")
						gender_select = "<option value=''>-</option><option value='male' selected>Male</option><option value='female'>Female</option>"
					elsif(@user.gender=="female")
						gender_select = "<option value=''>-</option><option value='male'>Male</option><option value='female' selected>Female</option>"
					else
						gender_select = "<option value='' selected>-</option><option value='male'>Male</option><option value='female'>Female</option>"	
					end
				%>	
				<td class="input"><%= f.select(:gender, gender_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :zip_code %></td>
				<td class="input"><%= f.text_field :zip_code, :size=>"10"  %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :birthday %></td>
				<td class="input"><%= f.date_select :birthday, {
					:start_year => Time.now.year,
				  	:end_year => 1900,
				  	:use_short_month => true,
				  	:order => [:month, :day, :year],
				  	:prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}} %></td>
			</tr>
			<tr>	
				<td class="label"><%= f.label :ethnicity %></td>
				<%
					if(@user.ethnicity=="caucasian")
						ethnicity_select = "<option value="">-</option><option value='caucasian' selected>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"
					elsif(@user.ethnicity=="east_asian")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian' selected>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"
					elsif(@user.ethnicity=="south_asian")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian' selected>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"						
					elsif(@user.ethnicity=="arabic")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic' selected>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"						
					elsif(@user.ethnicity=="african")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african' selected>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"						
					elsif(@user.ethnicity=="hispanic")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic' selected>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"						
					elsif(@user.ethnicity=="native_american")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american' selected>Native American</option><option value='other'>Other</option>"						
					elsif(@user.ethnicity=="other")
						ethnicity_select = "<option value="">-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other' selected>Other</option>"
					else
						ethnicity_select = "<option value="" selected>-</option><option value='caucasian'>Caucasian</option><option value='east_asian'>East Asian</option><option value='south_asian'>South Asian</option><option value='arabic'>Arabic</option><option value='african'>African</option><option value='hispanic'>Hispanic</option><option value='native_american'>Native American</option><option value='other'>Other</option>"						
					end
				%>
				<td class="input"><%= f.select(:ethnicity, ethnicity_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :phone, 'Phone # (Clinic Contact Only)' %></td>
				<td class="input"><%= f.text_field :phone, :size => '20'  %></td>
			</tr>
		</table>
		<div class="update_button">
			<%= f.submit "Update" %>
		</div>
		<div class="update_results hidden">
		</div>
	<% end %>
	
	<% flash.each do |key, value| %>
		<div class="grid_12 alpha"><div class="flash <%= key %>"><%= value %></div></div>
	<% end %>
		
	</div>
	<div id='edit_user_2' class="edit_user_content">
	<%= form_for @user, :as => :medical_info, :url => user_path(@user), :method => :put, :remote => true do |f| %>

		<h2 class="edit_user_title">Fertility History</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :previous_cycles, "Number of Previous IVF Cycles" %></td>
				<%
					if(@user.previous_cycles==0)
						cycles_select = "<option value="">-</option><option value='0' selected>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==1)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1' selected>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==2)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2' selected>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==3)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3' selected>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==4)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4' selected>4</option><option value='5'>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==5)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5' selected>5</option><option value='6'>6</option>"
					elsif(@user.previous_cycles==6)
						cycles_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6' selected>6</option>"
					else
						cycles_select = "<option value="" selected>-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option>"
					end
				%>
				<td class="input"><%= f.select(:previous_cycles, cycles_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :infertility_diagnosis, "Infertility Diagnosis" %></td>
				<%
					if(@user.infertility_diagnosis=="endometriosis")
						diagnosis_select = "<option value="">-</option><option value='endometriosis' selected>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="diminished_ovarian_reserve")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve' selected>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="multiple_female_factors")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors' selected>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="ovulatory_dysfunction")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction' selected>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="tubal_factor")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor' selected>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="female_and_male_factors")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors' selected>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="male_factor")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor' selected>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="other_factor")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor' selected>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="uterine_factor")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor' selected>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					elsif(@user.infertility_diagnosis=="unknown_factor")
						diagnosis_select = "<option value="">-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor' selected>Unknown Factor</option>"
					else
						diagnosis_select = "<option value="" selected>-</option><option value='endometriosis'>Endometriosis</option><option value='diminished_ovarian_reserve'>Diminished Ovarian Reserve</option><option value='multiple_female_factors'>Multiple Female Factors</option><option value='ovulatory_dysfunction'>Ovulatory Dysfunction</option><option value='tubal_factor'>Tubal Factor</option><option value='female_and_male_factors'>Female and Male Factors</option><option value='male_factor'>Male Factor</option><option value='other_factor'>Other Factor</option><option value='uterine_factor'>Uterine Factor</option><option value='unknown_factor'>Unknown Factor</option>"
					end
				%>
				<td class="input"><%= f.select(:infertility_diagnosis, diagnosis_select) %></td>
			</tr>
			</table>
		<h2 class="edit_user_title">Basic Medical Information</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :height_ft, "Height" %></td>
				<%
				if(@user.height_ft==3)
					height_ft_select = "<option value="">-</option><option value='3' selected>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option>"
				elsif(@user.height_ft==4)
					height_ft_select = "<option value="">-</option><option value='3'>3</option><option value='4' selected>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option>"
				elsif(@user.height_ft==5)
					height_ft_select = "<option value="">-</option><option value='3'>3</option><option value='4'>4</option><option value='5' selected>5</option><option value='6'>6</option><option value='7'>7</option>"
				elsif(@user.height_ft==6)
					height_ft_select = "<option value="">-</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6' selected>6</option><option value='7'>7</option>"
				elsif(@user.height_ft==7)
					height_ft_select = "<option value="">-</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7' selected>7</option>"
				else
					height_ft_select = "<option value="" selected>-</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option>"
				end
				
				if(@user.height_inches==0)
					height_inches_select = "<option value="">-</option><option value='0' selected>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==1)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1' selected>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==2)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2' selected>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==3)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3' selected>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==4)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4' selected>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==5)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5' selected>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6' selected>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7' selected>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8' selected>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9' selected>9</option><option value='10'>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10' selected>10</option><option value='11'>11</option>"
				elsif(@user.height_inches==6)
					height_inches_select = "<option value="">-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11' selected>11</option>"
				else
					height_inches_select = "<option value="" selected>-</option><option value='0'>0</option><option value='1'>1</option><option value='2'>2</option><option value='3'>3</option><option value='4'>4</option><option value='5'>5</option><option value='6'>6</option><option value='7'>7</option><option value='8'>8</option><option value='9'>9</option><option value='10'>10</option><option value='11'>11</option>"
				end
				
			%>
			<td class="input"><%= f.select(:height_ft, height_ft_select) %>ft <%= f.select(:height_inches, height_inches_select) %>inches</td>
		</tr>
		<tr>
			<td class="label"><%= f.label :weight %></td>
			<td class="input"><%= f.text_field :weight, :size=>"10" %> lbs.</td>
		</tr>
		</table>
		<h2 class="edit_user_title">Blood Type and Rh Factor</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :abo_blood_type, "ABO Blood Type" %></td>
				<%
					if(@user.abo_blood_type=='a')
						abo_select = "<option value="">-</option><option value='a' selected>Type A</option><option value='b'>Type B</option><option value='o'>Type O</option>"
					elsif(@user.abo_blood_type=='b')
						abo_select = "<option value="">-</option><option value='a'>Type A</option><option value='b' selected>Type B</option><option value='o'>Type O</option>"
					elsif(@user.abo_blood_type=='o')
						abo_select = "<option value="">-</option><option value='a'>Type A</option><option value='b'>Type B</option><option value='o' selected>Type O</option>"
					else
						abo_select = "<option value="" selected>-</option><option value='a'>Type A</option><option value='b'>Type B</option><option value='o'>Type O</option>"
					end
				%>
				<td class="input"><%= f.select(:abo_blood_type, abo_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :rh_factor, "Rh Factor" %></td>
				<%
					if(@user.rh_factor=='+')
						rh_select = "<option value="">-</option><option value='+' selected>Gram +</option><option value='-'>Gram -</option>"
					elsif(@user.rh_factor=='-')
						rh_select = "<option value="">-</option><option value='+'>Gram +</option><option value='-' selected>Gram -</option>"
					else
						rh_select = "<option value="" selected>-</option><option value='+'>Gram +</option><option value='-'>Gram -</option>"
					end
				%>
				<td class="input"><%= f.select(:rh_factor, rh_select) %></td>
			</tr>
		</table>
		<div class="update_button">
			<%= f.submit "Update" %>
		</div>
		<div class="update_results hidden">
		</div>
	<% end %>	
	</div>
	<div id='edit_user_3' class="edit_user_content">
		<h2 id="edit_user_account_title" class="edit_user_title">Edit Account Information</h2>
		<%= form_for @user, :as => :account_info,  :url => user_path(@user), :method => :put, :remote => true do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<table class="personal_info">
				<tr>
					<td class"label"><%= f.label :email %></td>
					<td class="input"><%= f.email_field :email %></td>
				</tr>
				<tr>
					<td class"label"><%= f.label :password %></td>
					<td class="input"><%= f.password_field :password %></td>
				</tr>
				<tr>
					<td class"label"><%= f.label :password_confirmation, "Confirmation" %></td>
					<td class="input"><%= f.password_field :password_confirmation %></td>
				</tr>
			</table>
			<div class="update_button">
				<%= f.submit "Update" %>
			</div>
		<% end %>
		<div class="update_results hidden">
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$("#tabs").tabs();
});
</script>