<div class="profile_top">
	<div class="gravatar-and-name">
		<%= gravatar_for @user %>
		<div class="user_info">
			<h1>Account Settings</h1>
			<span class="user_subtitle"><a href="http://gravatar.com/emails" target="_blank">Change Image</a></span>
		</div>
	</div>


	<div class="edit-profile-link">
	<% if current_user?(@user) %>
		<%= link_to current_user, :class => "view-button" do %><span class="icon">u</span>View Your Profile<% end %>
	<% end %>
	</div>
</div>


<div id="tabs" class="edit_user_tabs">
	<ul id="edit-user-tabs" class="jqueryui-user-edit-tabs">
		<% unless current_user.clinician? %>
		<li class="edit_user_tab"><a href="#edit_user_1"/>Personal Information</a></li>
		<li class="edit_user_tab"><a href="#edit_user_2"/>Medical Information</a></li>
		<% end %>
		<li class="edit_user_tab"><a href="#edit_user_3"/>Account Information</a></li>
	</ul>
	<% unless current_user.clinician? %>
	<div id='edit_user_1' class="edit_user_content">
	<h2 id="edit_user_personal_title" class="edit_user_title">Edit Personal Information</h2>
	<%= form_for @user, :as => :personal_info, :url => user_path(@user), :method => :put, :remote => true do |f| %>
		<%= render 'shared/error_messages', :object => f.object %>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :name %></td>
				<td class="input" style="text-align:right;"><%= @user.name %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :gender %></td>
				<% gender_select = options_for_select([['-'],['Male','male'],['Female','female']], @user.gender)%>
				<td class="input"><%= f.select(:gender, gender_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :zip_code %></td>
				<td class="input"><%= f.text_field :zip_code, :size=>"10"  %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :birthday %></td>
				<td class="input"><%= f.date_select :birthday, {
					:start_year => Time.now.year,
				  	:end_year => 1900,
				  	:use_short_month => true,
				  	:order => [:month, :day, :year],
				  	:prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}} %></td>
			</tr>
			<tr>	
				<td class="label"><%= f.label :ethnicity %></td>
				<% ethnicity_select = options_for_select([['-'],['Caucasian','caucasian'],['Ease Asian','east_asian'],['South Asian','south_asian'],['Arabic','arabic'],['African','african'],['Hispanic','hispanic'],['Native American','native_american'],['Other','other']], @user.ethnicity)%>
				<td class="input"><%= f.select(:ethnicity, ethnicity_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :phone, 'Phone # (Clinic Contact Only)' %></td>
				<td class="input"><%= f.text_field :phone, :size => '14'  %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :about_me, 'About Me (Clinic Contact Only)' %></td>
				<td class="input"><%= f.text_area :about_me, :size => '30', :class => 'about_me'  %></td>
			</tr>
		</table>
		<div class="update_button">
			<%= f.submit "Update" %>
		</div>
		<div class="update_results hidden">
		</div>
	<% end %>
	
	<% flash.each do |key, value| %>
		<div class="grid_12 alpha"><div class="flash <%= key %>"><%= value %></div></div>
	<% end %>
		
	</div>
	<div id='edit_user_2' class="edit_user_content">
	<%= form_for @user, :as => :medical_info, :url => user_path(@user), :method => :put, :remote => true do |f| %>

		<h2 class="edit_user_title">Fertility History</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :previous_cycles, "Number of Previous IVF Cycles" %></td>
				<% cycles_select = options_for_select([['-'],['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]], @user.previous_cycles) %>
				<td class="input"><%= f.select(:previous_cycles, cycles_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :infertility_diagnosis, "Infertility Diagnosis" %></td>
				<% diagnosis_select = options_for_select([['-'],['Endometriosis','endometriosis'],['Diminished Ovarian Reserve','diminished_ovarian_reserve'],['Multiple Female Factors','multiple_female_factors'],['Ovulatory Dysfunction','ovulatory_dysfunction'],['Tubal Factor','tubal_factor'],['Female and Male Factors','female_and_male_factors'],['Male Factor','male_factor'],['Other Factor','other_factor'],['Uterine Factor','uterine_factor'],['Unknown Factor','unknown_factor']], @user.infertility_diagnosis) %>
				<td class="input"><%= f.select(:infertility_diagnosis, diagnosis_select) %></td>
			</tr>
			</table>
		<h2 class="edit_user_title">Basic Medical Information</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :height_ft, "Height" %></td>
				<% height_ft_select = options_for_select([['-'],['3',3],['4',4],['5',5],['6',6],['7',7]],@user.height_ft)
				
				height_inches_select = options_for_select([['-'],['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6],['7',7],['8',8],['9',9],['10',10],['11',11]],@user.height_inches) %>
			<td class="input"><%= f.select(:height_ft, height_ft_select) %>ft <%= f.select(:height_inches, height_inches_select) %>inches</td>
		</tr>
		<tr>
			<td class="label"><%= f.label :weight %></td>
			<td class="input"><%= f.text_field :weight, :size=>"5" %> lbs.</td>
		</tr>
		</table>
		<h2 class="edit_user_title">Blood Type and Rh Factor</h2>
		<table class="personal_info">
			<tr>
				<td class="label"><%= f.label :abo_blood_type, "ABO Blood Type" %></td>
				<% abo_select = options_for_select([['-'],['Type A','a'],['Type B','b'],['Type O','o']],@user.abo_blood_type)%>
				<td class="input"><%= f.select(:abo_blood_type, abo_select) %></td>
			</tr>
			<tr>
				<td class="label"><%= f.label :rh_factor, "Rh Factor" %></td>
				<% rh_select = options_for_select([['-'],['Gram +','+'],['Gram -','-']],@user.rh_factor) %>
				<td class="input"><%= f.select(:rh_factor, rh_select) %></td>
			</tr>
		</table>
		<div class="update_button">
			<%= f.submit "Update" %>
		</div>
		<div class="update_results hidden">
		</div>
	<% end %>	
	</div>
	<% end %>
	<div id='edit_user_3' class="edit_user_content">
		<h2 id="edit_user_account_title" class="edit_user_title">Edit Account Information</h2>
		<%= form_for @user, :as => :account_info,  :url => user_path(@user), :method => :put, :remote => true do |f| %>
			<%= render 'shared/error_messages', :object => f.object %>
			<table class="personal_info">
				<tr>
					<td class"label"><%= f.label :email %></td>
					<td class="input"><%= f.email_field :email %></td>
				</tr>
				<tr>
					<td class"label"><%= f.label :password %></td>
					<td class="input"><%= f.password_field :password %></td>
				</tr>
				<tr>
					<td class"label"><%= f.label :password_confirmation, "Confirmation" %></td>
					<td class="input"><%= f.password_field :password_confirmation %></td>
				</tr>
			</table>
			<div class="update_button">
				<%= f.submit "Update" %>
			</div>
		<% end %>
		<div class="update_results hidden">
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$("#tabs").tabs();
});
</script>