<h1>Register</h1>
<p>Register for an IVF Reports account to receive FREE access to some of our premium features including:</p>
<ul class="content_list">
	<li>Clinic Review Access</li>
	<li>Favorite Clinics List</li>
	<li>Personalized Clinic Recommendations</li>
	<li>Contact a Clinic</li>
	<li>Cycle Tracking System</li>
	<li>A Community of Engaged Patients Like You</li>
</ul>
<div class="register_form">
<%= form_for(@user) do |f| %>
	<%= render 'shared/error_messages', :object => f.object %>
		<h2 class="register_blurb">Become a Member of the IVF Reports Community</h2>
		<h3>Required Fields</h3>
	<table class="register_form">
	<tr>
		<td class="label"><%= f.label :name, 'Username' %></td>
		<td><%= f.text_field :name %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :email %></td>
		<td><%= f.text_field :email %></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :password %></td>
		<td><%= f.password_field :password %></strong></td>
	</tr>
	<tr>
		<td class="label"><%= f.label :password_confirmation, "Confirmation" %></td>
		<td><%= f.password_field :password_confirmation %></td>
	</tr>
	</table>
	<h3>Optional Fields - Get More Accurate Recommendations!</h3>
	<table class="register_form">
		<tr>
			<td class="label"><%= f.label :gender %></td>
				<% gender_select = options_for_select([['-'],['Male','male'],['Female','female']])%>
			<td class="input"><%= f.select(:gender, gender_select) %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label :birthday %></td>
			<td class="input"><%= f.date_select :birthday, {
				:start_year => Time.now.year,
			  	:end_year => 1900,
			  	:use_short_month => true,
			  	:order => [:month, :day, :year],
			  	:prompt => {:month => 'Month', :day => 'Day', :year => 'Year'}} %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label :zip_code %></td>
			<td class="input"><%= f.text_field :zip_code, :size=>"5"  %></td>
		</tr>
		<tr>	
			<td class="label"><%= f.label :ethnicity %></td>
			<% ethnicity_select = options_for_select([['-'],['Caucasian','caucasian'],['East Asian','east_asian'],['South Asian','south_asian'],['Arabic','arabic'],['African','african'],['Hispanic','hispanic'],['Native American','native_american'],['Other','other']])%>
			<td class="input"><%= f.select(:ethnicity, ethnicity_select) %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label :previous_cycles, "Previous Cycles" %></td>
			<% cycles_select = options_for_select([['-'],['0',0],['1',1],['2',2],['3',3],['4',4],['5',5],['6',6]]) %>
			<td class="input"><%= f.select(:previous_cycles, cycles_select) %></td>
		</tr>
		<tr>
			<td class="label"><%= f.label :infertility_diagnosis, "Infertility Diagnosis" %></td>
				<% diagnosis_options = options_for_select([['-'],['Endometriosis','endometriosis'],['Diminished Ovarian Reserve','diminished_ovarian_reserve'],['Multiple Female Factors','multiple_female_factors'],['Ovulatory Dysfunction','ovulatory_dysfunction'],['Tubal Factor','tubal_factor'],['Female and Male Factors','female_and_male_factors'],['Male Factor','male_factor'],['Other Factor','other_factor'],['Uterine Factor','uterine_factor'],['Unknown Factor','unknown_factor']]) %>
			<td class="input"><%= f.select(:infertility_diagnosis, diagnosis_options) %></td>
		</tr>
	</table>
		<div class="update_button"><%= f.submit "Register" %></div>



<% end %>
</div>