<div class='user_profile'>

<div class="profile_top">
	<div class="gravatar-and-name">
		<%= gravatar_for @user %>
		<div class="user_info">
			<h1><%= @user.name %></h1>
			<span class="user_subtitle">Joined <%= @user.created_at.strftime("%B %d, %Y") %></span>
		</div>
	</div>

	<div class="edit-profile-link">
	<% if current_user?(@user) %>
		<% unless current_user.clinician? %>
		<%= link_to edit_user_path(current_user), :class => "edit-button" do %><span class="icon">⚙</span>Edit Your Profile<% end %>
		<% end %>
	<% end %>
	</div>
</div>

<% if current_user?(@user) && current_user.clinician? # This is what users will see when they are clinicians viewing their own user profile. %>
<ul class="clinic_account_options">
		<li><%= link_to clinic_path(current_user.clinics.first) do |l| %><span class="clinic_rec_rank round" ><span class="icon">⌂</span></span>View My Clinic<% end %></li>
		<li><%= link_to edit_clinic_path(current_user.clinics.first) do |l| %><span class="clinic_rec_rank round" ><span class="icon">⚙</span></span>Edit My Clinic<% end %></li>
		<li><%= link_to clinic_requests_path(Clinic.find_by_user_id(current_user.id)) do |l| %><span class="clinic_rec_rank round"><span class="icon">u</span></span>View My Clinic's Leads<% end %></li>
		<li><%= link_to edit_user_path(current_user) do |l| %><span class="clinic_rec_rank round"><span class="icon">⚙</span></span>Edit My Account<% end %></li>
		<li><%= link_to [Clinic.find_by_user_id(current_user.id), :statistics] do |l| %><span class="clinic_rec_rank round"><span class="icon">C</span></span>View In Depth Reporting<% end %></li>		
</ul>
<% else %>
	<% if @user.clinician? %>
		<% #This is what users will see when visiting a clinician's user page (rare event) who are not that user themselves. %>
	<% else #What normal users see (about themselves and other users?) need to make sure no contact information exists when viewed by others. %>
		<div class="personal_info user_info_section">
		<h2>Personal Information</h2>
		<hr>
		<table class="personal_info">
			<tr><td>Name</td><td><%= @user.name %></td></tr>
			<% if current_user?(@user) %><tr><td>Email</td><td><%= link_to @user.email, @user.email %></td></tr><% end %>
			<tr><td>Gender</td><td><%= @user.gender.capitalize unless @user.gender.nil? %></td></tr>
			<tr><td>Ethnicity</td><td><%= @user.ethnicity.capitalize unless @user.ethnicity.nil? %></td></tr>
			<tr><td>Age</td><td><% if @user.birthday.nil? %><% else %><%= (Date.today - @user.birthday).to_i/365 %> Years Old <% end %></td></tr>
			<tr><td>Zip Code</td><td><% if @user.zip_code.nil? %>-<% else %><%= @user.zip_code %><% end %></td></tr>
			<tr><td>IVF Attempts</td><td><%= @user.previous_cycles unless @user.previous_cycles.nil? %></td></tr>
			<tr><td>Infertility Diagnosis</td><td><%= @user.infertility_diagnosis.gsub("_"," ").capitalize unless @user.infertility_diagnosis.nil? %></td></tr>
			<tr><td>Member Since</td><td><%= @user.created_at.strftime("%B %d, %Y") %></td></tr>
		</table>
		</div>
	
		<% if current_user?(@user) %>
		<div class="personal_info user_info_section">
			<h2>Personalized Clinic Recommendations</h2>
			<hr>
			<% unless @user.zip_code.nil? %>
				<span class="recommendation_distance">Currently showing clinics within <%= @user.zip_distance %> miles of <%= @user.zip_code %>.</span>
				<%= form_for @user do |f| %>
				<table class="personal_info zip_search">
					<% zip_distance_options = options_for_select([['-'],['25','25'],['50','50'],['100','100'],['200','200'], ['All Distances','ALL']], @user.zip_distance) %>
					<tr><td><%= f.label :zip_distance, 'Miles to Search Within' %></td><td><%= f.select(:zip_distance, zip_distance_options) %></td><td><%= f.submit :value => "Update" %></td></tr>
				</table>
				<% end %>
			<% end %>
			<ul class="personal_rec_table">
				<% 
				count = 0
				@clinic_results.each do |c| %>
					<% count += 1 %>
					<li><a class="rank_link" href="../clinics/<%= c['permalink'] %>"><span class="clinic_rec_rank round" ><%= count %></span></a><span class="clinic_name"><a href="../clinics/<%= c['permalink'] %>" target="_blank"><%= c['clinic_name'] %></a></span><span class="clinic_location"><%= c['city'] %>, <%= c['state'] %></span></li>
				<% end %>
			</ul>
		</div>
		
		<div class="personal_info user_info_section">
			<h2>Clinics Contacted</h2>
			<div id="contacted_accordion">
				<% if @user.requests.empty? %>
					<h3><a href="#">None Contacted Yet.</a></h3>
				<% else %>
					<% @user.requests.each do |r| %>
					<h3><a href="#"><%= r.clinic.clinic_name %> - <%= r.clinic.city %>, <%= r.clinic.state %></a></h3>
					<div>
						<table>
						<tr><td class="label">Clinic</td><td class="value"><%= link_to r.clinic do |l| %><span class="icon">⌂</span><%= r.clinic.clinic_name %><% end %></td></tr>
						<tr><td class="label">Contacted</td><td class="value"><%= r.created_at.strftime("%B %d, %Y") %></td></tr>
						</table>
					</div>
					<% end %>
				<% end %>
			</div>
		</div>
		<% end %>
	

	<% end %>
<% end %>
</div>

<script type="text/javascript">
$(document).ready(function(){
	$('#contacted_accordion').accordion();
});
</script>