<div class='user_profile'>
	
	
<div class="profile_top">
	<div class="gravatar-and-name">
		<%= gravatar_for @user %>
		<div class="user_info">
			<h1><%= @user.name %></h1>
			<span class="user_subtitle">Joined <%= @user.created_at.strftime("%B %d, %Y") %></span>
		</div>
	</div>


	<div class="edit-profile-link">
	<% if current_user?(@user) %>
		<%= link_to edit_user_path(current_user), :class => "edit-button" do %><span class="icon">⚙</span>Edit Your Profile<% end %>
	<% end %>
	</div>
</div>


<div class="personal_info user_info_section">
<h2>Personal Information</h2>
<hr>
<table class="personal_info">
	<tr><td>Name</td><td><%= @user.name %></td></tr>
	<tr><td>Email</td><td><%= link_to @user.email, @user.email %></td></tr>
	<tr><td>Member Since</td><td><%= @user.created_at.strftime("%B %d, %Y") %></td></tr>
</table>
</div>

<div class="personal_info user_info_section">
<h2>Personalized Clinic Recommendations</h2>
<hr>
<table class="personal_info">
	<tr><td>Clinic 1</td><td>Sample Place For Clinic Name</td></tr>
	<tr><td>Clinic 2</td><td>Sample Place For Clinic Name</td></tr>
	<tr><td>Clinic 3</td><td>Sample Place For Clinic Name</td></tr>
</table>
</div>

<div class="personal_info user_info_section">
<h2>Cycles/Attempt Information</h2>
<hr>
<span class="new_cycle_button"><span class="icon">+</span>Add New Cycle/Pregnancy Attempt</span>
<ul class="cycle_list">
	<li><span class="attempt_number">1</span><span class="clinic_name">Clinic Name Goes Here</span><span class="delete_option"><span class="icon">×</span></span><span class="clinic_info">Address, City, State, Zip</span></li>
	<li><span class="attempt_number">2</span><span class="clinic_name">Clinic Name Goes Here</span><span class="delete_option"><span class="icon">×</span></span><span class="clinic_info">Address, City, State, Zip</span></li>
</ul>
</div>


</div>