<% if !params[:clinic_id].nil? #If the user is a clinician..or Admin in a clinic's nested request resource %>
<h1>Viewing Leads for <%= @clinic .clinic_name %></h1>
<% elsif !params[:user_id].nil? #IF the user is a user.. %>
<h1>Viewing Clinics You Have Contacted</h1>
<% elsif current_user.admin? #If the user is an admin a.k.a. all leads view %>
<h1>Viewing All Leads</h1>
<% end %>

<ul class="request_list">
	<li class="header round"><span class="username">User Name</span><span class="age">Age</span><span class="created">Contact Requested</span><span class="view_button">View</span></li>
	<% @requests.each do |r| %>
	<% user_info = User.find_by_id(r.user_id) %>
		<% if r.visible? #Show full information if they have paid for the lead. %>
		<li>Lead Paid For. Email: <%= user_info.email %></li>		
		<% else #Show limited..teaser info if the lead is not paid for%>
		<li>
			<span class="username"><%= user_info.name %></span>
			<span class="age"><% if user_info.birthday.nil? %>-<% else %><%= (Date.today - user_info.birthday).to_i/365 %><% end %></span>
			<span class="created"><%= r.created_at.strftime("%B %d, %Y") %></span>
			<%= link_to clinic_request_path(@clinic, r) do |l| %><span class="view_button icon">E</span><% end %>
		</li>
		<% end %>
	<% end %>
</ul>