<h1 id="ranking_title">IVF Clinic Rankings</h1>
<span class="back_to_region_select round"><-- Back to Region Select</span>
<div id="tabs" class="ranking_tabs">
	<ul id="ranking-category-tabs" class="jqueryui-ranking-tabs">
		<li class="ranking_tab"><a href="#ranking_category_1"/>Overall Ranking</a></li>
		<li class="ranking_tab"><a href="#ranking_category_2"/>Ranking by Age</a></li>
		<li class="ranking_tab"><a href="#ranking_category_3"/>Ranking by Diagnosis</a></li>
	</ul>
		<div id='ranking_category_1' class="ranking_tab_content">
			<h2 id="overall_title" class="age_ranking_title">IVF Reports Overall Clinic Scores</h2>
			<div id="overall_ranking_results" class="ranking_results">
				<ul class='ranking_nav'><li id='overall_left_button' class='left_button'><span class='icon'>←</span></li><li id='overall_right_button' class='right_button'><span class='icon'>→</span></li></ul>
				<div class="clinic_rank_list">
				</div>
				<ul class='ranking_nav'><li id='overall_left_button' class='left_button'><span class='icon'>←</span></li><li id='overall_right_button' class='right_button'><span class='icon'>→</span></li></ul>
			</div>
		</div>
		<div id='ranking_category_2' class="ranking_tab_content">
			<ul id="age-selectable" class="jqueryui-ranking-subselect">
				<li class="ui-selected">< 35</li>
				<li>35 - 37</li>
				<li>38 - 40</li>
				<li>41 - 42</li>
				<li class="last">> 42</li>								
			</ul>
			<div class="age_ranking_titles">
				<h2 id="age_title_35" class="age_ranking_title">Clinic Scores In Age Group < 35</h2>
				<h2 id="age_title_35_37" class="age_ranking_title hidden">Clinic Scores In Age Group 35 - 37</h2>
				<h2 id="age_title_38_40" class="age_ranking_title hidden">Clinic Scores In Age Group 38 - 40</h2>
				<h2 id="age_title_41_42" class="age_ranking_title hidden">Clinic Scores In Age Group 41 - 42</h2>			
				<h2 id="age_title_42" class="age_ranking_title hidden">Clinic Scores In Age Group > 42</h2>						
			</div>
			<div id="age_ranking_results" class="ranking_results">
				<ul class='ranking_nav'><li id='age_left_button' class='left_button'><span class='icon'>←</span></li><li id='age_right_button' class='right_button'><span class='icon'>→</span></li></ul>				
				<div class="clinic_rank_list">
				</div>
				<ul class='ranking_nav'><li id='age_left_button' class='left_button'><span class='icon'>←</span></li><li id='age_right_button' class='right_button'><span class='icon'>→</span></li></ul>
			</div>
		</div>
		<div id='ranking_category_3' class="ranking_tab_content">
			<ul id="diagnosis-selectable" class="jqueryui-ranking-subselect-diagnosis">
				<li class="ui-selected">Endometriosis</li>
				<li>Low Ovarian Reserve</li>
				<li>Multiple Female Factors</li>
				<li>Ovulatory Dysfuntion</li>
				<li>Tubal Factor</li>
				<li>Female and Male Factors</li>
				<li>Male Factor</li>
				<li>Other Factor</li>
				<li class="last">Uterine Factor</li>
			</ul>
			<div class="diagnosis_ranking_titles">
				<h2 id="diagnosis_title_endometriosis" class="age_ranking_title">Clinic Scores for Endometriosis</h2>
				<h2 id="diagnosis_title_dor" class="age_ranking_title hidden">Clinic Scores for Diminished Ovarian Reserve</h2>
				<h2 id="diagnosis_title_mff" class="age_ranking_title hidden">Clinic Scores for Multiple Female Factors</h2>
				<h2 id="diagnosis_title_od" class="age_ranking_title hidden">Clinic Scores for Ovulatory Dysfunction</h2>			
				<h2 id="diagnosis_title_tubal" class="age_ranking_title hidden">Clinic Scores for Tubal Factor</h2>						
				<h2 id="diagnosis_title_fmf" class="age_ranking_title hidden">Clinic Scores for Female and Male Factors</h2>						
				<h2 id="diagnosis_title_male" class="age_ranking_title hidden">Clinic Scores for Male Factor</h2>						
				<h2 id="diagnosis_title_other" class="age_ranking_title hidden">Clinic Scores for Other Factor</h2>						
				<h2 id="diagnosis_title_uterine" class="age_ranking_title hidden">Clinic Scores for Uterine Factor</h2>
			</div>
			<div id="diagnosis_ranking_results" class="ranking_results">
				<ul class='ranking_nav'><li id='diagnosis_left_button' class='left_button'><span class='icon'>←</span></li><li id='diagnosis_right_button' class='right_button'><span class='icon'>→</span></li></ul>
				<div class="clinic_rank_list">
				</div>
				<ul class='ranking_nav'><li id='diagnosis_left_button' class='left_button'><span class='icon'>←</span></li><li id='diagnosis_right_button' class='right_button'><span class='icon'>→</span></li></ul>
			</div>
		</div>
</div>

<div class="score_explanation hidden">

</div>

<div class="star_explanation hidden">

</div>

<script type="text/javascript">
var year = "2010";
var age_group = "<35";
var diagnosis = "Endometriosis";
var cycle_type = "fresh";
var overall_page = 0;
var age_page = 0;
var diagnosis_page = 0;
var region = "ALL";
var states = [
<% @states.each_with_index do |s, index| %>
<% if index==50 %>
"<%= s.name %>"
<% else %>
"<%= s.name %>",
<% end %>
<% end %>
];


$(document).ready(function(){
	$('span.back_to_region_select').click(function(){
		$('div#ranking_content').slideToggle('slow');
		$('div#us_region_map').slideToggle('slow');
		$('div#overall_ranking_results div.clinic_rank_list').html("");		
	});
	
	$('div#us_region_map div.map_region').click(function(){
		region = $(this).attr('id');
		
		if(region=="ENC"){
			$('h1#ranking_title').html('IVF Clinic Rankings - East North Central Region');
			states = ["WI","MI","IL","IN","OH"];
		}
		else if(region=="ESC"){
			$('h1#ranking_title').html('IVF Clinic Rankings - East South Central Region');
			states = ["KY","TN","MS","AL"];
		}
		else if(region=="WNC"){
			$('h1#ranking_title').html('IVF Clinic Rankings - West North Central Region');
			states = ["ND","SD","MN","IA","NE","KS","MO"];
		}
		else if(region=="WSC"){
			$('h1#ranking_title').html('IVF Clinic Rankings - West South Central Region');
			states = ["TX","OK","AR","LA"];
		}
		else if(region=="MA"){
			$('h1#ranking_title').html('IVF Clinic Rankings - Mid-Atlantic Region');
			states = ["NY","PA","NJ"];
		}
		else if(region=="SA"){
			$('h1#ranking_title').html('IVF Clinic Rankings - South Atlantic Region');
			states = ["DE","MD","DC","WV","VA","NC","SC","GA","FL"];
		}
		else if(region=="NE"){
			$('h1#ranking_title').html('IVF Clinic Rankings - New England Region');
			states = ["ME","NH","VT","CT","MA","RI"];
		}
		else if(region=="OTH"){
			$('h1#ranking_title').html('IVF Clinic Rankings - Alaska, Hawaii, Puerto Rico');
			states = ["AK","HI","PR"];
		}
		else if(region=="NP"){
			$('h1#ranking_title').html('IVF Clinic Rankings - North Pacific Region');
			states = ["WA","OR"];
		}
		else if(region=="SP"){
			$('h1#ranking_title').html('IVF Clinic Rankings - South Pacific Region');
			states = ["CA"];
		}
		else if(region=="MT"){
			$('h1#ranking_title').html('IVF Clinic Rankings - Mountain Region');
			states = ["MT","ID","WY","NV","UT","CO","AZ","NM"];
		}
		
		$('input.state_checkbox').attr('checked',false);
		$('input.select_all_state_checkbox').attr('checked',false);
		$('input.unselect_all_state_checkbox').attr('checked',false);
		
		$.each(states, function(){
			var checkbox_name = "input#state_"+ this;
			$(checkbox_name).attr('checked',true);
		});
				
		PrintOverallRankingResults();
		PrintAgeRankingResults();
		PrintDiagnosisRankingResults();
		$('div#us_region_map').slideToggle('slow');
		
		$('div#ranking_content').slideToggle('slow');
	});
	
	$(document).on("mouseenter", "li.clinic_stats span.score_type", function(e){
		var x_pos = e.pageX;
		var y_pos = e.pageY;
		$('div.score_explanation').addClass('inlineblock');
		$('div.score_explanation').show('fast');
		$('div.score_explanation').css({
			'left':x_pos,
			'top':y_pos
		});
		var score_type = $(this).attr('id');
		if(score_type=='ivfr_score'){
			$('div.score_explanation').html('<h3>IVF Reports Score</h3><p>The IVF Reports Score is our age-adjusted evaluation of performance for a particular year. We provide scores for clinics for all ages combined (Overall), each of the 5 major age groups of patients, and for each of 9 major diagnoses for infertility. We judge clinics primarily on two measures: safety and quality.</p>');
		}
		else if(score_type=='quality_score'){
			$('div.score_explanation').html('<h3>Quality Score</h3><p>To assess quality, our ranking system derives a score based on the implantation rate. The implantation rate is the frequency of implantation (when an embryo attaches to the uterus and forms a sac or fetus) related to the number of embryos transferred per patient. By judging success per embryo, the clinician cannot inflate his performance rating by transferring more embryos.</p>');
		}
		else if(score_type=='safety_score'){
			$('div.score_explanation').html('<h3>Safety Score</h3><p>The average number of embryos transferred is the statistic we employ to measure safety. Multiple-birth pregnancies put both the mother and the children at higher risk than a single-birth pregnancy. Thus, our guiding principal is that, all else being equal, clinics that transfer fewer embryos on average maintain higher standards of safety in their practice.</p>');
		}
		else {//(score_type=='sart_Score'){
			$('div.score_explanation').html('<h3>SART Score</h3><p>Although our core principals dictate that implantation rate is a better measure of success, we still provide a score that assesses clinics based on the live birth rate. Live birth rate data are available at the SART webpage, and SART emphasizes these data as an important factor in assessing success. This score is for comparison purposes only and does not factor into the IVF Reports score.</p>');
		}
	});
	
	$(document).on("mouseout", "li.clinic_stats span.score_type", function(e){
		$('div.score_explanation').hide('fast');
	});
	
	$(document).on("mouseenter", "span.score_result", function(e){
		var x_pos = e.pageX;
		var y_pos = e.pageY;
		$('div.star_explanation').addClass('inlineblock');
		$('div.star_explanation').show('fast');
		$('div.star_explanation').css({
			'left':x_pos,
			'top':y_pos
		});
		$('div.star_explanation').html('<h3>Our Rating System</h3><ul><li><span class="icon green">★</span><span class="explanation">Excellent</span></li><li><span class="icon blue">★</span><span class="explanation">Good</span></li><li><span class="icon yellow">★</span><span class="explanation">Satisfactory</span></li><li><span class="icon ">★</span><span class="explanation">Not Enough Data</span></li></ul>');
	});
	
	$(document).on("mouseout", "span.score_result", function(e){
		$('div.star_explanation').hide('fast');
	});
	
	//This next method creates the contact record. Need to have it check if 5 exist and alert user if all 5 are already used.
	$(document).on("click", 'span.clinic_contact_button', function(){
		var id_values = $(this).attr('id');
		var id_arrays = id_values.split('o');
		var user_id = id_arrays[0];
		var clinic_id = id_arrays[1];
		var current_object = this;
		var data = {
			user_id: user_id,
			clinic_id: clinic_id
		}
		
		$.ajax({
			url: "<%= url_for(:controller => 'requests', :action => 'create') %>",
			type: 'POST',
			dataType: 'json',
			async: true,
			data: data,
			success: function(data){
				if(data[0]==='5'){
					alert("You have already contacted 5 clinics.");
				}
				else{
					$(current_object).addClass('already_contacted',1000);
					$(current_object).removeClass('clinic_contact_button',1000);
					$(current_object).html('Contact<br/>Request<br/>Sent',1000);
					if(data[0]==='3'){
						alert("You have " + (4-parseInt(data[0])) + " clinic left to contact.");
					}
					else{
						alert("You have " + (4-parseInt(data[0])) + " clinics left to contact.");
					}
				}
			}
		});
	});
	
	$( "#tabs" ).tabs();

	$('li.left_button').click(function(){
		var button_id = $(this).attr('id');
		if(button_id=='overall_left_button'){
			if(overall_page==0){
				
			}
			else{
				overall_page = overall_page - 1;
				PrintOverallRankingResults();
			}
		}
		else if(button_id=='age_left_button'){
			if(age_page==0){
				
			}
			else{
				age_page = age_page - 1;
				PrintAgeRankingResults();
			}			
			
		}
		else if(button_id=='diagnosis_left_button'){
			if(diagnosis_page==0){
				
			}
			else{
				diagnosis_page = diagnosis_page - 1;
				PrintDiagnosisRankingResults();
			}			
			
		}
	});
	$('li.right_button').click(function(){
		var button_id = $(this).attr('id');
		if(button_id=='overall_right_button'){
			overall_page = overall_page + 1;
			PrintOverallRankingResults();			
		}
		else if(button_id=='age_right_button'){
			age_page = age_page + 1;
			PrintAgeRankingResults();
		}
		else if(button_id=='diagnosis_right_button'){
			diagnosis_page = diagnosis_page + 1;
			PrintDiagnosisRankingResults();
		}
	});	
	
	$('input.state_checkbox').click(function(){
		if($(this).is(':checked')){
			//Add the value to the states array
			states.push($(this).val());
			$('input.unselect_all_state_checkbox').attr('checked', false);			
		}
		else{
			var abrvindex = states.indexOf($(this).val());
			if(abrvindex!=-1){
				$('input.select_all_state_checkbox').attr('checked', false);				
				states.splice(abrvindex,1);
			}
		}
		overall_page = 0;
		age_page = 0;
		diagnosis_page = 0;
		//Finall, call the print function for the proper (or all?) ranking results...pages and numbers need to be reset anyways
		PrintOverallRankingResults();
		PrintAgeRankingResults();
		PrintDiagnosisRankingResults();
	});
	
	$('input.select_all_state_checkbox').click(function(){
		$('input.state_checkbox').attr('checked', true);
		$('input.unselect_all_state_checkbox').attr('checked', false);
		//Next update the array of states.
		
		states = [
		<% @states.each_with_index do |s, index| %>
		<% if index==50 %>
		"<%= s.name %>"
		<% else %>
		"<%= s.name %>",
		<% end %>
		<% end %>
		];
		
		overall_page = 0;
		age_page = 0;
		diagnosis_page = 0;
		
		PrintOverallRankingResults();
		PrintAgeRankingResults();
		PrintDiagnosisRankingResults();
	});
	
	$('input.unselect_all_state_checkbox').click(function(){
		$('input.state_checkbox').attr('checked', false);
		$('input.select_all_state_checkbox').attr('checked', false);
		//Next update the array of states.
		states = [];
		
		overall_page = 0;
		age_page = 0;
		diagnosis_page = 0;
						
		PrintOverallRankingResults();
		PrintAgeRankingResults();
		PrintDiagnosisRankingResults();
	});
});

function PrintStarIcon(score){
	if(score>=90){
		return " green";
	}
	else if(score>=80 && score<90){
		return " blue";
	}
	else if(score>=70 && score<80){
		return " yellow";
	}
	else{
		return " gray";
	}
}

function PrintOverallRankingResults(){
	$('div#overall_ranking_results div.clinic_rank_list').html("");
	$('div#overall_ranking_results div.clinic_rank_list').addClass('ajax_loading');
	var data = {
		year: year,
		age_group: "All Ages",
		diagnosis: "All Diagnoses",
		region: region,
		cycle_type: cycle_type,
		page: overall_page,
		states: states
	}
	$.ajax({
		url: "<%= url_for(:action => 'ranking') %>",
		dataType: 'json',
		async: true,
		cache: false,
		data: data,
		success: 	function(data){
						//This will have to update the html of the middle section with the new clinic info...
						$.each(data, function(k){
								var clinic_html = "<div class='clinic_rank_item'><ul class='clinic_rank";
								if(k==9){
									clinic_html = clinic_html + " bottom";
								}
								clinic_html = clinic_html + "'><li class='clinic_name'><a href='/clinics/"+data[k]['permalink']+"'>"+ (overall_page*10 + k + 1) + ". " + data[k]['clinic_name'] + "</a></li>";
								clinic_html = clinic_html + "<li class='clinic_location'>" + data[k]['city'] + ", " + data[k]['state'] + "</li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='ivfr_score' class='score_type'>IVF Reports Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['ivf_reports_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['ivf_reports_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='quality_score' class='score_type'>Quality Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['quality_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['quality_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='safety_score' class='score_type'>Safety Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['safety_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['safety_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='sart_score' class='score_type'>SART Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['sart_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['sart_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "</ul>";
								<% if signed_in? && !current_user.clinician? %>
									var current_user_id = <%= current_user.id %>;
									var current_span_id = "span#"+ current_user_id + "o" + data[k]['clinic_id'];									
									var check_data = {
										user_id: current_user_id,
										clinic_id: data[k]['clinic_id']
									}
									$.ajax({ //Need to check if a database entry exists for this userid clinicid combo via ajax in the requests table
										url: "<%= url_for(:controller => 'requests', :action => 'test') %>",
										dataType: 'json',
										async: false,
										data: check_data,
										success: function(check_data){
											if(check_data[0]==undefined){
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="clinic_contact_button round">Contact<br/>this<br/>Clinic</span>';
												clinic_html = clinic_html + "</div>";

												$('div#overall_ranking_results div.clinic_rank_list').append(clinic_html);
											}
											else{
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="already_contacted round">Contact<br/>Request<br/>Sent</span>';
												clinic_html = clinic_html + "</div>";

												$('div#overall_ranking_results div.clinic_rank_list').append(clinic_html);
											}
										}
									});
								<% elsif signed_in? && current_user.clinician? #Display no contact link %>
									clinic_html = clinic_html + "</div>";

									$('div#overall_ranking_results div.clinic_rank_list').append(clinic_html);
								<% else #Need to add text and link about: Register to Contact %>
									clinic_html = clinic_html + '<span class="register_to_contact round"><%= link_to register_path do |l| %>Register<br/>to<br/>Contact<% end %></span>';
									clinic_html = clinic_html + "</div>";

									$('div#overall_ranking_results div.clinic_rank_list').append(clinic_html);
								<% end %>
						});
					}
	});
	$('div#overall_ranking_results div.clinic_rank_list').removeClass('ajax_loading');
}
function PrintAgeRankingResults(){
	$('div#age_ranking_results div.clinic_rank_list').html("");
	$('div#age_ranking_results div.clinic_rank_list').addClass('ajax_loading');
	var data = {
		year: year,
		age_group: age_group,
		diagnosis: "All Diagnoses",
		cycle_type: cycle_type,
		page: age_page,
		region: region,
		states: states
	}
	$.ajax({
		url: "<%= url_for(:action => 'ranking') %>",
		dataType: 'json',
		async: true,
		cache: false,
		data: data,
		success: 	function(data){
						//This will have to update the html of the middle section with the new clinic info...
						$.each(data, function(k){
								var clinic_html = "<div class='clinic_rank_item'><ul class='clinic_rank";
								if(k==9){
									clinic_html = clinic_html + " bottom";
								}								
								clinic_html = clinic_html + "'><li class='clinic_name'><a href='/clinics/"+data[k]['permalink']+"'>"+ (age_page*10 + k + 1) + ". " + data[k]['clinic_name'] + "</a></li>";
								clinic_html = clinic_html + "<li class='clinic_location'>" + data[k]['city'] + ", " + data[k]['state'] + "</li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='ivfr_score' class='score_type'>IVF Reports Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['ivf_reports_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['ivf_reports_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='quality_score' class='score_type'>Quality Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['quality_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['quality_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='safety_score' class='score_type'>Safety Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['safety_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['safety_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='sart_score' class='score_type'>SART Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['sart_score'])/10 + "<span class='icon " + PrintStarIcon(data[k]['sart_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "</ul>"
								<% if signed_in? && !current_user.clinician?%>
									var current_user_id = <%= current_user.id %>;
									var current_span_id = "span#"+ current_user_id + "o" + data[k]['clinic_id'];									
									var check_data = {
										user_id: current_user_id,
										clinic_id: data[k]['clinic_id']
									}
									$.ajax({ //Need to check if a database entry exists for this userid clinicid combo via ajax in the requests table
										url: "<%= url_for(:controller => 'requests', :action => 'test') %>",
										dataType: 'json',
										async: false,
										data: check_data,
										success: function(check_data){
											if(check_data[0]==undefined){
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="clinic_contact_button round">Contact<br/>this<br/>Clinic</span>';
												clinic_html = clinic_html + "</div>";
												$('div#age_ranking_results div.clinic_rank_list').append(clinic_html);
											}
											else{
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="already_contacted round">Contact<br/>Request<br/>Sent</span>';
												clinic_html = clinic_html + "</div>";
												$('div#age_ranking_results div.clinic_rank_list').append(clinic_html);
											}
										}
									});
									<% elsif signed_in? && current_user.clinician? #Display no contact link %>
										clinic_html = clinic_html + "</div>";

										$('div#age_ranking_results div.clinic_rank_list').append(clinic_html);
									<% else #Need to add text and link about: Register to Contact %>
										clinic_html = clinic_html + '<span class="register_to_contact round"><%= link_to register_path do |l| %>Register<br/>to<br/>Contact<% end %></span>';
										clinic_html = clinic_html + "</div>";

										$('div#age_ranking_results div.clinic_rank_list').append(clinic_html);
									<% end %>
						});
					}
	});
	$('div#age_ranking_results div.clinic_rank_list').removeClass('ajax_loading');
}
function PrintDiagnosisRankingResults(){
	$('div#diagnosis_ranking_results div.clinic_rank_list').html("");
	$('div#diagnosis_ranking_results div.clinic_rank_list').addClass('ajax_loading');
	var data = {
		year: year,
		age_group: "All Ages",
		diagnosis: diagnosis,
		cycle_type: cycle_type,
		page: diagnosis_page,
		region: region,
		states: states
	}
	$.ajax({
		url: "<%= url_for(:action => 'ranking') %>",
		dataType: 'json',
		async: true,
		cache: false,
		data: data,
		success: 	function(data){
						//This will have to update the html of the middle section with the new clinic info...
						$.each(data, function(k){
								var clinic_html = "<div class='clinic_rank_item'><ul class='clinic_rank";
								if(k==9){
									clinic_html = clinic_html + " bottom";
								}

								clinic_html = clinic_html + "'><li class='clinic_name'><a href='/clinics/"+data[k]['permalink']+"'>"+ (diagnosis_page*10 + k + 1) + ". " + data[k]['clinic_name'] + "</a></li>";
								clinic_html = clinic_html + "<li class='clinic_location'>" + data[k]['city'] + ", " + data[k]['state'] + "</li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='ivfr_score' class='score_type'>IVF Reports Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['ivf_reports_score'])/10 + "<span id='star_icon' class='icon " + PrintStarIcon(data[k]['ivf_reports_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='quality_score' class='score_type'>Quality Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['quality_score'])/10 + "<span id='star_icon' class='icon " + PrintStarIcon(data[k]['quality_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='safety_score' class='score_type'>Safety Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['safety_score'])/10 + "<span id='star_icon' class='icon " + PrintStarIcon(data[k]['safety_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "<li class='clinic_stats'><span id='sart_score' class='score_type'>SART Score:</span> " + "<span class='score_result'>" +  Math.round(10*data[k]['sart_score'])/10 + "<span id='star_icon' class='icon " + PrintStarIcon(data[k]['sart_score']) + "'>★</span></span></li>";
								clinic_html = clinic_html + "</ul>"
								<% if signed_in? && !current_user.clinician?%>
									var current_user_id = <%= current_user.id %>;
									var current_span_id = "span#"+ current_user_id + "o" + data[k]['clinic_id'];									
									var check_data = {
										user_id: current_user_id,
										clinic_id: data[k]['clinic_id']
									}
									$.ajax({ //Need to check if a database entry exists for this userid clinicid combo via ajax in the requests table
										url: "<%= url_for(:controller => 'requests', :action => 'test') %>",
										dataType: 'json',
										async: false,
										data: check_data,
										success: function(check_data){
											if(check_data[0]==undefined){
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="clinic_contact_button round">Contact<br/>this<br/>Clinic</span>';
												clinic_html = clinic_html + "</div>";
												$('div#diagnosis_ranking_results div.clinic_rank_list').append(clinic_html);
											}
											else{
												clinic_html = clinic_html + '<span id="'+ current_user_id + 'o' + data[k]['clinic_id']+'" class="already_contacted round">Contact<br/>Request<br/>Sent</span>';
												clinic_html = clinic_html + "</div>";
												$('div#diagnosis_ranking_results div.clinic_rank_list').append(clinic_html);
											}
										}
									});
									<% elsif signed_in? && current_user.clinician? #Display no contact link %>
										clinic_html = clinic_html + "</div>";
										$('div#diagnosis_ranking_results div.clinic_rank_list').append(clinic_html);
									<% else #Need to add text and link about: Register to Contact %>
										clinic_html = clinic_html + '<span class="register_to_contact round"><%= link_to register_path do |l| %>Register<br/>to<br/>Contact<% end %></span>';
										clinic_html = clinic_html + "</div>";
										$('div#diagnosis_ranking_results div.clinic_rank_list').append(clinic_html);
									<% end %>
						});
					}
	});
	$('div#diagnosis_ranking_results div.clinic_rank_list').removeClass('ajax_loading');
}

$('#diagnosis-selectable').selectable({
	stop: function(){
		$( ".ui-selected", this ).each(function() {
			var index = $( "#diagnosis-selectable li" ).index( this );
			if(index==0){
				diagnosis="Endometriosis";
				$('h2#diagnosis_title_endometriosis').removeClass('hidden');
				$('h2#diagnosis_title_endometriosis').siblings().addClass('hidden');
			}
			else if(index==1){
				diagnosis="Diminished Ovarian Reserve";
				$('h2#diagnosis_title_dor').removeClass('hidden');
				$('h2#diagnosis_title_dor').siblings().addClass('hidden');
			}
			else if(index==2){
				diagnosis="Multiple Female Factors";
				$('h2#diagnosis_title_mff').removeClass('hidden');
				$('h2#diagnosis_title_mff').siblings().addClass('hidden');
			}
			else if(index==3){
				diagnosis="Ovulatory Dysfunction";
				$('h2#diagnosis_title_od').removeClass('hidden');
				$('h2#diagnosis_title_od').siblings().addClass('hidden');
			}
			else if(index==4){
				diagnosis="Tubal Factor";
				$('h2#diagnosis_title_tubal').removeClass('hidden');
				$('h2#diagnosis_title_tubal').siblings().addClass('hidden');
			}
			else if(index==5){
				diagnosis="Female and Male Factors";
				$('h2#diagnosis_title_fmf').removeClass('hidden');
				$('h2#diagnosis_title_fmf').siblings().addClass('hidden');
			}
			
			else if(index==6){
				diagnosis="Male Factor";
				$('h2#diagnosis_title_male').removeClass('hidden');
				$('h2#diagnosis_title_male').siblings().addClass('hidden');
			}
			
			else if(index==7){
				diagnosis="Other Factor";
				$('h2#diagnosis_title_other').removeClass('hidden');
				$('h2#diagnosis_title_other').siblings().addClass('hidden');
			}
			
			else if(index==8){
				diagnosis="Uterine Factor";
				$('h2#diagnosis_title_uterine').removeClass('hidden');
				$('h2#diagnosis_title_uterine').siblings().addClass('hidden');
			}
			else{
				diagnosis="Endometriosis";
				$('h2#diagnosis_title_endometriosis').removeClass('hidden');
				$('h2#diagnosis_title_endometriosis').siblings().addClass('hidden');
			}
		});
		diagnosis_page = 0;
		PrintDiagnosisRankingResults();
	}
});
$('#age-selectable').selectable({
	stop: function(){
		$( ".ui-selected", this ).each(function() {
			var index = $( "#age-selectable li" ).index( this );
			if(index==0){
				age_group="<35";
				$('h2#age_title_35').removeClass('hidden');
				$('h2#age_title_35').siblings().addClass('hidden');
			}
			else if(index==1){
				age_group="35-37";
				$('h2#age_title_35_37').removeClass('hidden');
				$('h2#age_title_35_37').siblings().addClass('hidden');
			}
			else if(index==2){
				age_group="38-40";
				$('h2#age_title_38_40').removeClass('hidden');
				$('h2#age_title_38_40').siblings().addClass('hidden');
			}
			else if(index==3){
				age_group="41-42";
				$('h2#age_title_41_42').removeClass('hidden');
				$('h2#age_title_41_42').siblings().addClass('hidden');
			}
			else if(index==4){
				age_group=">42";
				$('h2#age_title_42').removeClass('hidden');
				$('h2#age_title_42').siblings().addClass('hidden');
			}
			else{
				age_group="<35";
				$('h2#age_title_35').removeClass('hidden');
				$('h2#age_title_35').siblings().addClass('hidden');
			}
		});
		age_page = 0;
		PrintAgeRankingResults();
	}
});

</script>