<footer>
<div class="container_12">
	<div class="grid_12 footer_border">
		<nav class="footer_nav">
			<ul>
				<li><%= link_to "About Us", about_path %></li>
				<li><%= link_to "Terms and Conditions", {:controller => 'pages', :action => 'terms' } %></li>
				<li><%= link_to "Privacy Policy", {:controller => 'pages', :action => 'privacy'} %></li>
				<li><%= link_to "Clinicians", clinicians_path %></li>
				<li><%= link_to "Contact", contact_path %></li>
			</ul>
		</nav>
		<div class="footer_text">
			Transit. An <a href="#" target="_blank">Althea</a> creation.
		</div>
	</div>
</div>
</footer>