<header>
<div class="container_12">
	<div class="grid_12">
		
	<div class="grid_12 alpha omega">
	<h1 class="hidden">IVF Reports</h1>
	<div class="header_top">
		<span class="logo"><%= link_to root_path do %><span></span><% end %>
		</span>
		<span class="authentication">
			<ul>
				<% if signed_in? %>
					<li><%= link_to signout_path do %><span class='icon'>⊝</span> Sign Out<% end %></li>
					<li><%= link_to edit_user_path(current_user), :class => is_active?("users#edit") do %><span class='icon'>⚙</span> Settings<% end %></li>
					<li><%= link_to user_path(current_user), :class=> is_active?("users#show") do %><span class='icon'>u</span> My Profile<% end %></li>
					<% if current_user.clinician? %>
						<li><%= link_to clinic_path(current_user.clinics.first) do %><span class='icon'>⌂</span> My Clinic<% end %></li>
					<% end %>
				<% else %>	
					<li><%= link_to "Register", register_path, :class => is_active?("users#new") %></li>
					<li class="divider">|</li>
					<li><%= link_to "Sign In", signin_path, :class => is_active?("sessions#new") %></li>
				<% end %>
			</ul>
		</span>
	</div>
	</div>
	
	<div class="grid_12 alpha omega">
	<div class="header_nav">
		<nav class="header">
			<ul>				
				<li class="<%= is_active?("pages#home") %>"><%= link_to "Home", root_path %></li>
				<li class="<%= is_active?("pages#clinicfind") %>"><%= link_to "Find a Clinic", {:controller => 'pages', :action => 'clinicfind'} %></li>
				<li class="<%= is_active?("pages#ranking") %>"><%= link_to "Ranking", ranking_path %></li>
				<li class="<%= is_active?("pages#system") %>"><%= link_to "Our System", {:controller => 'pages', :action => 'system'} %>
				<li class="<%= is_active?("pages#faqs") %>"><%= link_to "Faqs", faqs_path %></li>
				<li class="search"><span class="icon">z</span><input type="text"/></li>
			</ul>
		</nav>
	</div>
	</div>
	<% if is_controller?('pages') and is_action?('home') %>
	<div class="grid_12 alpha omega">
	<div class="header_pic">	
	</div>
	</div>
	<% end %>
	
	
	
	</div>
</div>
</header>