<div class="left_sidebar">
<ul class="sidebar_module">
	<li class="header">Reports</li>
	<li><%= link_to "The IVF Process", {:controller => 'reports', :action => 'the_ivf_process'} %></li>
	<li><%= link_to "The CDC vs SART", {:controller => 'reports', :action => 'cdc_vs_sart'} %></li>
	<li><%= link_to "Fertility News", {:controller => 'reports', :action => 'fertility_news'} %></li>
	<li><%= link_to "Other Technologies", {:controller => 'reports', :action => 'other_technologies'} %></li>
	<li class="bottom"><%= link_to "Clinics By Region", {:controller => 'reports', :action => 'clinics_by_region'} %></li>
</ul>
</div>