<div class="right_sidebar">
<ul class="sidebar_module">
	<li class="header">Links</li>
	<li><%= link_to "The CDC", 'http://www.cdc.gov/art/' %></li>
	<li><%= link_to "SART", 'http://www.sart.org/' %></li>
	<li><%= link_to "IVF.NET", 'http://www.ivf.net/' %></li>
	<li><%= link_to "ASRM", 'http://www.asrm.org/' %></li>
	<li><%= link_to "RBM Online", 'http://www.rbmojournal.com/' %></li>
	<li class="bottom"><%= link_to "American College of Embryology", 'http://embcol.org/' %></li>
</ul>
</div>