<div class="right_sidebar">
<ul class="sidebar_module">
	<li class="header">Links</li>
	<li><%= link_to "The CDC", 'http://www.cdc.gov/art/', :target => "_blank" %></li>
	<li><%= link_to "SART", 'http://www.sart.org/', :target => "_blank" %></li>
	<li><%= link_to "IVF.NET", 'http://www.ivf.net/', :target => "_blank" %></li>
	<li><%= link_to "ASRM", 'http://www.asrm.org/', :target => "_blank" %></li>
	<li><%= link_to "RBM Online", 'http://www.rbmojournal.com/', :target => "_blank" %></li>
	<li class="bottom"><%= link_to "American College of Embryology", 'http://embcol.org/', :target => "_blank" %></li>
</ul>
</div>