<div class="right_sidebar">
	<% if is_controller?('clinics') && is_action?('show') %>
	<% unless signed_in? && (current_user.clinician? || current_user.admin?) %>
	<ul class="sidebar_module">
		<li class="header">Contact this Clinic</li>
		<% if signed_in? %>
			<% if @clinic.requests.where(:user_id => current_user.id).count == 1 %>
				<li class="request_button bottom"><a href="#"><span class="request_button_old">Contact Request Sent</span></a></li>
			<% else %>
				<li class="request_button bottom"><%= form_for @request, :remote => :true do |f| %><%= f.hidden_field :user_id, :value => current_user.id %><%= f.hidden_field :clinic_id, :value => @clinic.id %><%= f.submit :value => 'Click Here to Contact' %><% end %></li>
			<% end %>
		<% else %>
			<li class="request_button bottom"><%= link_to 'Register to Contact', register_path %></li>
		<% end %>
	</ul>
	<% end %>
	<% end %>

	<% if signed_in? && current_user.admin? %>
	<% unless @clinic.nil? %>
		<ul class="sidebar_module">
			<li class="header">Manage Clinic Info</li>
			<li><%= link_to 'Edit Clinic Info', edit_clinic_path(@clinic) %></li>
			<li><%= link_to 'View In Depth Statistics', clinic_statistics_path(@clinic) %></li>
			<li class="bottom"><%= link_to 'View Patient Leads', [@clinic, :requests] %></li>			
		</ul>
	<% end %>
	<% end %>

	<% if signed_in? && current_user.clinician? %>
	<% unless user_clinic.nil? %>
	<ul class="sidebar_module">
		<li class="header">Manage My Clinic Info</li>
		<li><%= link_to 'View My Clinic', clinic_path(user_clinic) %></li>
		<li><%= link_to 'Edit Clinic Info', edit_clinic_path(user_clinic) %></li>
		<li><%= link_to 'View In Depth Statistics', [user_clinic, :statistics] %></li>		
		<li class="bottom"><%= link_to 'View Patient Leads', [user_clinic, :requests] %></li>
	</ul>
	<% end %>
	<% else # Nothing else displayed... %>
	<% end %>

	<% if is_controller?('pages') and is_action?('ranking') %>
		<ul class="sidebar_module">
			<li class="header">Select States</li>
			<li><span class="all_state_label">Select All States</span><input checked type="checkbox" class="select_all_state_checkbox" name="select_all_states" value="all_states" style="float:right;margin-top:9px;margin-right:10px;"></li>

			<li><span class="all_state_label">Unselect All States</span><input type="checkbox" class="unselect_all_state_checkbox" name="unselect_all_states" value="no_states" style="float:right;margin-top:9px;margin-right:10px;"></li>
			<% @states.each_with_index do |s, index| %>
				<% if index%2 == 0 %>
				<li class="state">
				<span class="state_span">
					<%= s.name %><input checked class="state_checkbox" type="checkbox" name="state" value="<%= s.name %>">
				</span>
				<% else %>
				<span class="state_span">
					<%= s.name %><input checked class="state_checkbox" type="checkbox" name="state" value="<%= s.name %>">
				</span>
				</li>
				<% end %>
			<% end %>
		</ul>
	<% end %>
	
<ul class="sidebar_module">
	<li class="header">Links</li>
	<li><%= link_to "The CDC", 'http://www.cdc.gov/art/', :target => "_blank" %></li>
	<li><%= link_to "SART", 'http://www.sart.org/', :target => "_blank" %></li>
	<li><%= link_to "IVF.NET", 'http://www.ivf.net/', :target => "_blank" %></li>
	<li><%= link_to "ASRM", 'http://www.asrm.org/', :target => "_blank" %></li>
	<li><%= link_to "RBM Online", 'http://www.rbmojournal.com/', :target => "_blank" %></li>
	<li class="bottom"><%= link_to "American College of Embryology", 'http://embcol.org/', :target => "_blank" %></li>
</ul>
		


</div>