<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="container">
		<%= render 'layouts/header' %>
		
		
	<section class="page-body-content">
		<div class="container_12">
		<div class="grid_12 body_content">
			<% if is_clinic_index? %>
				<div class="middle_content">
				<%= yield %>			
				</div>
			<% elsif is_clinic_explorer? || is_clinic_comparator? %>
				<div class="explorer_content">
						<% flash.each do |key, value| %>
							<div class="grid_9 alpha"><div class="flash <%= key %>"><%= value %></div></div>
						<% end %>
		
						<%= yield %>
				</div>
			<% else %>
			<div class="grid_3 alpha">
				<%= render 'layouts/left_sidebar' %>
			</div>
			<div class="grid_6">
				<div class="middle_content">
					<% flash.each do |key, value| %>
						<div class="grid_6 alpha"><div class="flash <%= key %>"><%= value %></div></div>
					<% end %>
		
					<%= yield %>
				</div>
			</div>
			<div class="grid_3 omega">
				<%= render 'layouts/right_sidebar' %>
			</div>
			<% end %>
			

		</div>
		</div>
	</section>
		
		<%= render 'layouts/footer' %>
		
	</div>

<%= debug(params) if Rails.env.development? %>
</body>
</html>
